.container {
  & > button {
    font-family: "Nunito", sans-serif;
    font-size: 1rem;
    background-color: var(--bgCard);
    color: var(--textColor);
    margin-block: 5rem;
    display: flex;
    align-items: center;
    padding: 0.5rem 2rem;
    box-shadow: 0 0 5px 0 var(--shadow);
    gap: 0.5rem;
  }
  & .description {
    display: grid;
    grid-template-columns: 1fr 1fr;
    @media (max-width: 1280px) {
      grid-template-columns: 1fr;
    }
    column-gap: min(5vw, 5rem);
    & .flag {
      align-self: center;
      background-color: #fff;
      width: 100%;
      max-width: 600px;
      position: relative;
      display: flex;
      align-items: center;
      position: relative;
      height: fit-content;
      & img {
        width: 100%;
      }
    }
    & .informations {
      padding: 2rem 0 2rem 0rem;
      display: grid;
      gap: 2rem;
      &-title {
        font-weight: 600;
        font-size: 1.8rem;
      }
      &-details {
        display: grid;
        grid-template-columns: 1fr 1fr;
        @media (max-width: 1280px) {
          grid-template-columns: 1fr;
        }
        gap: 1rem;
        & > div {
          display: flex;
          flex-direction: column;
          gap: 1rem;
        }
        &-items {
          font-weight: 600;
          margin-right: 0.3rem;
        }
      }
      &-borders {
        margin-top: -1rem;
        @media (max-width: 1280px) {
          margin-top: 0;
        }
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        align-items: center;
        &-item {
          box-shadow: 0 0 5px 0 var(--shadow);
          background-color: var(--bgCard);
          color: var(--textColor);
          cursor: pointer;
          padding: 0.5rem 2rem;
          border-radius: 0.3rem;
          transition: background-color 0.4s, color 0.4s;
        }
      }
    }
  }
}
